.FooterContainer {
  background-color: #000000;
  height: auto;
  width: auto;
  padding: 50px 150px;
  color: white;
  overflow: hidden;
  border-top: 1px solid white;
}
.footerMain {
  display: flex;
}
.footerList {
  display: flex;
  justify-content: space-between;
  columns: 30px;
  color: rgba(255, 255, 255, 0.39);
}
.footerListMain {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  flex-wrap: wrap;
}

.footerHead {
  font-family: Dm Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-bottom: 30px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footerMapList {
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.39);
  max-width: 150px;
}

.footerHeadMain {
  display: flex;
  flex-direction: column;
}
.footerBottom {
  border-top: 1px solid white;
  margin-block: 30px;
}

@media (max-width: 768px) {
  .FooterContainer {
    padding: 30px;
  }
  .footerImage {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .footerMain {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .footerListMain {
    gap: 30px;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
}
