.HomeNavBar {
  border: 1px solid #ffffff;
  width: fit-content;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 50px;
  border-radius: 40px;
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 10000;
}
.navBar {
  width: fit-content;
  display: flex;
  margin: auto;
  gap: 20px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 15px;
  line-height: 60px;
  letter-spacing: 0.3px;
  text-align: center;
  color: white;
}

.logo {
  height: auto;
  min-width: 100%;
}
.logBtn {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 15px;
  line-height: 60px;
  letter-spacing: 0.3px;
  text-align: center;
  background-color: #e56d09;
  color: white;
  border-radius: 75px;
  padding: 4px 40px;
  margin-right: 20px;
}
.BtnConatiner {
  display: flex;
}
